.container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  .resultContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F5F5F7;
    padding: 133px 0 122px 80px;
    .title {
      font-size: 32px;
      font-weight: 600;
      max-width: 620px;
    }
    .answersContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 34px;
      .answerBtn {
        background: url("../../../assets/images/inactiveItem.png") no-repeat center;
        border: 0;
        height: 72px;
        width: 373px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 32px;
        position: relative;
        &:disabled {
          color: #000000;
        }
        &:hover {
          background: url("../../../assets/images/hoverItem.png") no-repeat center;
        }
        &::before {
          content: '';
          position: absolute;
          width: 17px;
          height: 0;
          left: -17px;
          background-color: #282c34;
          top: 35px;

          /* Black-40 */

          border: 1px solid #D0D0D8;
        }
        &::after {
          content: '';
          position: absolute;
          width: 17px;
          height: 0;
          right: -17px;
          background-color: #282c34;
          top: 35px;

          /* Black-40 */

          border: 1px solid #D0D0D8;
        }
        .answerTitle {
          font-size: 20px;
          font-weight: 400;
        }
        .variant {
          margin-right: 8px;
          color: #FF8B37;
          font-size: 20px;
          font-weight: 600;
        }
      }
      .selected {
        background: url("../../../assets/images/selectedItem.png") no-repeat center;
        &:hover {
          background: url("../../../assets/images/selectedItem.png") no-repeat center;
        }
      }
      .correct {
        background: url("../../../assets/images/correctItem.png") no-repeat center;
        &:hover {
          background: url("../../../assets/images/correctItem.png") no-repeat center;
        }
      }
      .wrong {
        background: url("../../../assets/images/wrongItem.png") no-repeat center;
        &:hover {
          background: url("../../../assets/images/wrongItem.png") no-repeat center;
        }
      }
    }
  }
  .progressContainer {
    background-color: #FFFFFF;
    width: 376px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .progressItem {
      background: url("../../../assets/images/inactivePrice.png") no-repeat center;
      border: 0;
      height: 40px;
      width: 240px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-size: 20px;
      font-weight: 400;
      &::before {
        content: '';
        position: absolute;
        width: 69px;
        height: 0;
        left: -69px;
        background-color: #282c34;
        top: 19px;

        /* Black-40 */

        border: 1px solid #D0D0D8;
      }
      &::after {
        content: '';
        position: absolute;
        width: 69px;
        height: 0;
        right: -69px;
        background-color: #282c34;
        top: 19px;

        /* Black-40 */

        border: 1px solid #D0D0D8;
      }
    }
    .active {
      background: url("../../../assets/images/currentPrice.png") no-repeat center;
      &::after {
        border: 1px solid #FF8B37;
      }
      &::before {
        border: 1px solid #FF8B37;
      }
    }
    .finished {
      background: url('../../../assets/images/finishedPrice.png') no-repeat center;
      color: #D0D0D8;
    }
  }
  .nextBtn {
    position: absolute;
    align-self: center;
    top: 50%;
    left: 30%
  }
}
